* {
    margin: 0;
    padding: 0;
    font-family: cursive;
}

.row {
    margin: 35px auto;
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 300px;
    border: 2px solid gray;
}

.col {
    background-color: #17A2B8;
    height: 90px;
    width: 600px;
}

.col img {
    position: fixed;
    bottom: 590px;
    width: 100px;
    margin-left: 20px;
}

.col-2 {
    margin-top: 40px;
    margin-left: 20px;
}

.col-2 img {
    width: 10px;
    margin-right: 10px;
}

.programmer {
    margin-top: 10px;
}

.col-2 p {
    margin-top: 10px;
}

.col-3 {
    margin-top: 15px;
    margin-left: 20px;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.col-3 p {
    margin-left: 10px;
}

.col-3 img {
    width: 20px;
}